{% extends "webapp/base.html" %}

{% load static %}

{% block contenido %}

<h2>
    Soy Valentín Cordal, tengo 19 años y soy de Montevideo, Uruguay. 
</h2>
<h2>
    Este es mi primer curso sobre programación.
</h2>
<h2>
    Aprendí cosas de Python, django y HTML.
</h2>
<h2>
    Mi objetivo luego de este curso es continuar con los estudios, comenzando con la carrera de ingeniería en informática
    en la Universidad Católica de Montevideo.
</h2>
<h2>
    Gracias a este curso pude descubrir mi afición por la informática y la programación. 
</h2>

{% endblock contenido%}