{% extends "webapp/base.html" %}

{% load static %}

{% block contenido %}
<table>

    <tr>

        <td width="200"><h2>Plataformas</h2></td>

        <td>

            <a

            href="{% url 'plataformasForm' %}"

            class="btn btn-primary btn-sm"

            ><i class="fa fa-plus fa-lg" title="Crear"> </i>

            </a>

        </td>        

    </tr>

</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Membresia</th>
        </tr>
    </thead>
    <tbody>
    {% for p in plataformas %}
        <tr>
            <td>{{ p.nombrePlataforma }}</td>
            <td>{{ p.membresia }}</td>
            <td>

                <a

                  href="{% url 'plataformasUpdate' p.nombrePlataforma %}"

                  class="btn btn-primary"

                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"

                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>

                </a>

                <a

                  href="{% url 'plataformasDelete' p.nombrePlataforma %}"

                  class="btn btn-danger"

                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"

                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>

                </a>                

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}