{% extends "webapp/base.html" %}

{% load static %}

{% block contenido %}

<table>

    <tr>

        <td width="200"><h2>Wishlist</h2></td>

        <td>

            <a

            href="{% url 'wishlistForm' %}"

            class="btn btn-primary btn-sm"

            ><i class="fa fa-plus fa-lg" title="Crear"> </i>

            </a>

        </td>        

    </tr>

</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Plataforma</th>
            <th>Genero</th>
            <th>Multijugador</th>
            <th>Solitario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for w in wishlist %}
        <tr>
            <td>{{ w.nombre }}</td>
            <td>{{ w.plataforma }}</td>
            <td>{{ w.genero }}</td>
            <td>{{ w.multijugador }}</td>
            <td>{{ w.solitario }}</td>
            <td>

                <a

                  href="{% url 'wishlistUpdate' w.nombre %}"

                  class="btn btn-primary"

                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"

                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>

                </a>

                <a

                  href="{% url 'wishlistDelete' w.nombre %}"

                  class="btn btn-danger"

                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"

                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>

                </a>                

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}

